<style>
  
  div.recognition {
    display: block;
    border: 4px solid black;
    padding: 1em;
    background: #d3d8c3;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    font-size: smaller;
    margin-bottom: 1em;
  }

  .recognition ul { display:block; padding:0; text-align:center }
  .recognition li { display:inline }
  .recognition li a { white-space:nowrap }
  .recognition li:after { content:" "; letter-spacing:1em; background:center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=); }
  
  .recognition-item { font-weight: bold; }
  
</style> 


<div class="recognition">
  <div class="recognition-pre">
    Thank you to the following organizations for supporting the Wieting thru a very difficult year:
  </div>
  <ul>
    <li class="recognition-item">Iowa&nbsp;Department of&nbsp;Cultural&nbsp;Affairs</li>
    <li class="recognition-item">The&nbsp;Iowa Economic Development&nbsp;Authority</li>
    <li class="recognition-item">Arts&nbsp;Midwest</li>
  </ul> 
  <div class="recognition-post">
    Thank you <b>Michelle Evans</b> for connecting the Wieting with these wonderful organizations, and for all you do!
  </div> 
</div>
