/* Change div.debug display: to "none" to hide debug info, or "block" to display it */

div.debug {
  display: block;
  border: 2px double red;
  padding: .5em 1em;
  font-style: italic;
  margin-bottom: 2em;
}

/* Make the Donate! menu item stand out */
.menu__list > li:nth-child(3) > a:nth-child(1) {
  color: #ffc107; 
}

tr {
  line-height: 0.75em;
}

div.centered {
  margin: auto;
  width: 98%;
  padding: 2px 5px;
  text-align: center;
}

div.from-dbox {
  display: block
  background: whitesmoke;
  border: 5px solid green;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
  margin-bottom: 10px;
}

div.from-dbox p img {
  max-width: 90%;
}

div.timeline-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border: 5px solid #1DA1F2;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
  margin-bottom: 2em;
}

/* Wieting changes and additions */

/* body {
  line-height: 1rem;
} */

main {
  margin-top: 0.25em !important;
}

main p {
  line-height: 1.25rem;
}

.h-100 {
  width: 100%;
  background: linear-gradient(#fff 0%, #b8c09f 100%) fixed;
}

div.view-content {
  width: 86%;
  margin-left: 7%;
  background: url("/images/WietingBrickFront.png");
  padding: 1em 0;
}

div.views-row.one-sheet-element {
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
  margin: 0 0.5em;
}

div.views-field {
  text-align: center;
  background: antiquewhite;
  color: #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 6px 3px;
  margin-bottom: 6px;
}

div.views-field-title {
  margin-bottom: 10px;
}

.jumbotron {
  padding: 0rem 1rem;
  margin-bottom: 0;
}

/* .social-share .share-icons li {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
} */

/* scroll-left feature per https://dev.to/techthor/pure-css-continuous-horizontal-text-scroll-42a3 */

div.scroll-left {
  height: 24px;
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 25s infinite linear;
  padding-left: 125%;  /* Initial offset, which places the text off-screen */
  color: red;
  overflow: hidden;
  position: relative;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

div.marquee-foundation {
  display: block;
  width: 100%;
  background: url("/images/WietingSteps.png");
  background-size: auto;
  color: #000000;
  font-weight: 600;
  font-size: x-large;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 18px;
  text-align: center;
}

div.wieting_banner {
  display: block;
  width: 100%;
  background: #b8bf9e;
  color: black;
  padding: 1em 2em;
  font-family: Georgia,"Times New Roman",Times,serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid black;
  margin-bottom: 10px;
}

div.site-name {
  font-size: 2em;
}

div.site-info {
  font-weight: bold;
  line-height: 1.25em !important;
}

.site-info ul { display:inline-block; padding:0; text-align:center }
.site-info li { display:inline }
.site-info li a { white-space:nowrap }
.site-info li:after { content:" "; letter-spacing:1em; background:center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=); }

img.oneSheet {
  width: 270px;
  height: 400px;
}

ul.show-times {
  list-style-position: inside;  
}  

div.synopsis {
  font-size: 1.25rem;
}

.field--item-bold {
  font-weight: bold;
}


/* Main menu. Lifted from https://codingnconcepts.com/hugo/nested-menu-hugo/ */

nav.menu {
  width: 100%;
}

.no-js .menu__btn {
  display: none;
}

.menu__btn {
  display: block;
  width: 100%;
  padding: 0;
  font: inherit;
  color: #fff;
  background: #2a2a2a;
  border: 0;
  outline: 0;
}

.menu__btn-title {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

:focus > .menu__btn-title {
  box-shadow: inset 0 0 1px 3px #e22d30;
}

button:not(:-moz-focusring):focus > .menu__btn-title {
  box-shadow: none;
}

.menu__btn:focus,
.menu__btn-title:focus {
  outline: 0;
}

.js .menu__btn--active {
  /* color: #e22d30; */
  color: #b8c09f;
}

.menu__list,
.submenu__list {
  list-style: none;
  background: #2a2a2a;
}

.menu__item:hover > a {
  color: #b8c09f;
}

.menu__item:first-child {
  border: 0;
}

/* .menu__item--active {
  background: #e22d30;
} */

.menu__item--active {
  background: #f9faf8;
}

.menu__link {
  display: block;
  /* padding: 10px 15px; */
  /* padding: 0.625rem 0.9375rem; */
  padding: 5px 10px;
  font-weight: 500;
  color: #b8c09f;
}

.menu__list .menu__item .submenu__list {
  background: #2a2a2a;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  max-width: 15rem;
  transition: all 0.5s ease;
  /* border-top: 5px solid #e22d30; */
  display: none;
}

.menu__item.menu__dropdown input[type="checkbox"] {
  display: none;
}

.menu__list .menu__item:hover > .submenu__list,
.menu__list .menu__item:focus-within > .submenu__list,
.menu__list .menu__item .submenu__list:hover,
.menu__list .menu__item .submenu__list:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  padding: 5px 10px;
}

.menu__link:hover {
  color: #fff;
}

.js .menu__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.js .menu__list--active {
  visibility: visible;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.menu__list--transition {
  transition: visibility 0.15s ease, transform 0.15s ease,
    -webkit-transform 0.15s ease;
}

@media screen and (min-width: 767px) {
  /* .menu {
    border-bottom: 5px solid #e22d30;
  } */

  .menu__btn {
    display: none;
  }

  .menu__list,
  .js .menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    visibility: visible;
    border: 0;
    -webkit-transform: none;
    transform: none;
  }

  .menu__item {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  } 
}

@media screen and (max-width: 767px) {
  .menu__item.menu__dropdown .drop-icon {
    position: absolute;
    right: 1rem;
    top: auto;
  }

  .menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
    display: none;
  }

  .menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
    border: none;
    padding-left: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    max-width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .menu__item.menu__dropdown .drop-icon {
    position: absolute;
    right: 1rem;
    top: auto;
  }

  .menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
    display: none;
  }

  .menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
    border: none;
    padding-left: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    max-width: 100%;
  }
}

li.menu__dropdown {
  z-index: 100;
}

div.prev-next {
  display: block;
  padding: 10px 3rem;
}

.prev-item {
  display: block;
  float: left;
  padding: 10px 5px;
}

.next-item {
  display: block;
  float: right;
  padding: 10px 5px;
}

a {
  color: green;
  font-weight: bold;
}

a:hover {
  color: green;
  font-weight: bold;
}

div.col-sm-12 {
  mid-width: 383px;
}

/* centering main menu */

@media (min-width: 768px) {
  .big {
    display: flex;
  }
}

@media (max-width: 768px) {
  .small {
    display: block;
  }
}

nav.menu {
  justify-content: center;
}

ul.menu__list {
  text-align: center;
  padding: 0;
  border: 3px solid black;
  border-radius: 5px;
}

li.menu__item {
  display: inline-block;
}
